<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Site</title>

  <!-- Fonts, CSS, etc. go here -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>


<body>
  <div class="full-page-scroll">
    <nav class="navbar navbar-expand navbar-dark">
    <a href="{{ url_for('views.home') }}">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo" />
    </a>
      <div class="navbar-left">
        <a href="{{ url_for('views.home') }}" class="custom-link">Pulse For Justice</a>
      </div>

<style>
  .navbar-left a,
  .navbar-left a:visited,
  .navbar-left a:hover,
  .navbar-left a:active {
    color: #fff !important;
    text-decoration: none !important;
  }
</style>


      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="/logout">LOGOUT</a>
          <a class="nav-item nav-link" href="/donate">DONATE</a>
          <a class="nav-item nav-link" href="/aboutus">ABOUT US</a>
          <a class="nav-item nav-link nav-button" href="/shareyourstory">SHARE YOUR STORY</a>
          <div class="pfp">
          <a href="{{ url_for('views.profile') }}">
            <img src="{{ profile_image }}" alt="Profile Picture">
          </a>
          </div>
        
        {% else %}
          <a class="nav-item nav-link" href="/login">LOGIN</a>
          <a class="nav-item nav-link" href="/sign-up">SIGN UP</a>
          <a class="nav-item nav-link" href="/donate">DONATE</a>
          <a class="nav-item nav-link" href="/aboutus">ABOUT US</a>
          <a class="nav-item nav-link nav-button" href="/shareyourstory">SHARE YOUR STORY</a>
          <div class="pfp">
            <a href="{{ url_for('views.profile') }}">
              <img src="{{ profile_image }}" alt="Profile Picture">
            </a>
          </div>

        {% endif %}
      </div>
    </nav>
  </div>
</body>
</html>
